:root {
  --blue: #1496d2;
  --black: #353432;
  --grey: #a8acaf;
  --light-grey: #ecf0fb;
  --orange: #ffc100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.page-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--light-grey);
}

nav {
  font-size: 1.2rem;
  background-color: var(--blue);
}

.nav-desktop,
.side,
.about-us,
.examinations-view {
  display: none;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 1rem;
  align-items: center;
}

.nav-header h1 {
  font-size: 1.6rem;
}

.fa-bars {
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 10px;
  color: var(--light-grey);
}

.nav-item {
  color: var(--light-grey);
  text-decoration: none;
  position: relative;
}

.nav-desktop .nav-item::after,
.side .nav-item::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  gap: 0.25rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100000;
  left: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: var(--light-grey);
  transition: 0.3s;
}

.bgc {
  display: none;
  background-color: #35343292;
  opacity: 0;
}

.nav .bgc {
  cursor: pointer;
}

.close {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.side .nav-item {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.section {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.section-header {
  margin: 2rem 0;
  text-align: center;
  color: var(--black);
}

.main {
  height: 400px;
  position: relative;
  background-color: var(--black);
}
.typing-wrapper,
.bgc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.typing-wrapper {
  background-color: #353432a3;
  z-index: 1;
  color: var(--grey);
}

.typing-wrapper h2 {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main .bgc {
  display: block;
  opacity: 1;
  z-index: 0;
  background-image: url("img/header_usg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.adventages {
  margin: 3rem 0;
}

.adventage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  gap: 1rem;
  border-radius: 15px;
  background-color: #353432;
  color: var(--grey);
  text-align: center;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.adventage-txt {
  width: 100%;
}

.adventage-txt h3,
.adventage-txt {
  margin-bottom: 1rem;
}
.adventage img {
  width: 15rem;
  border-radius: 15px;
  margin: 0 auto;
}

.examinations {
  position: relative;
  padding: 2rem 1rem;
  background-color: var(--black);
}

.examinations-scroll {
  width: 20rem;
  max-height: 400px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 15px;
}

.scroll-el {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: start;
  font-weight: bold;
  border: none;
  background-color: var(--grey);
}

.scroll-el:nth-child(even) {
  background-color: #989b9e;
}
.scroll-el:hover {
  background-color: #989b9e;
}

.scroll-el:nth-child(even):hover {
  background-color: var(--grey);
}

.examination-pop-up {
  display: none;
  width: 20rem;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--light-grey);
  border-top: 10px solid var(--blue);
  border-radius: 15px;
  padding: 1.3rem;
}

.pop-up-close {
  text-align: end;
}
.pop-up-close .close {
  margin-bottom: 0;
}

.pop-up-header hr,
.pop-up-header h3,
.slider-header hr {
  margin: 0.5rem 0;
}

.examinations-view {
  display: none;
}
.references {
  width: 20rem;
  margin: 2.2rem auto;
  position: relative;
}

.slider-el {
  width: 15rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 15px;
  border-top: 10px solid var(--blue);
  -webkit-box-shadow: 0px 0px 54px -36px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 54px -36px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 54px -36px rgba(66, 68, 90, 1);
}

.references button {
  background-color: transparent;
  border: 0;
  font-size: 1.4em;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 0;
}

.faq-col {
  width: 20rem;
  margin: 1rem auto;
}
.faq-el {
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.faq-el:last-child {
  margin-bottom: 0;
}
.faq-header {
  display: flex;
  align-items: center;
  justify-items: auto;
  color: var(--light-grey);
  background-color: var(--black);
  padding: 1rem;
}
.faq-header .fa-arrow-down {
  font-size: 1.2rem;
  margin-left: auto;
}
.faq-header h4 {
  margin: 0 1rem;
}

span {
  height: 100%;
}

li {
  list-style: none;
}

.faq-content {
  padding: 1rem;
  border: 2px solid var(--black);
  border-radius: 0 0 15px 15px;
}
.faq-content li {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.faq-content li i {
  color: var(--blue);
  margin-right: 1rem;
}
.faq-content .fa-close {
  color: red;
}
.contact {
  background-color: var(--black);
  padding: 1rem;
  margin: 2rem 0;
}

.contact-card {
  background-color: var(--light-grey);
  padding: 1rem;
  border-radius: 15px 15px 0 0;
}

.contact-card h3 {
  margin-bottom: 1rem;
}

.contact-el:nth-child(2) {
  margin-bottom: 1rem;
}
.contact h4 {
  margin: 0.5rem 0 0 1rem;
  color: var(--black);
}

.contact a {
  color: var(--black);
  text-decoration: none;
}

.map-wrapper iframe {
  width: 100%;
  min-height: 400px;
  border-radius: 0 0 15px 15px;
}

@media (min-width: 500px) {
  .references {
    width: 30rem;
  }
  .slider-el {
    width: 25rem;
  }
}

@media (min-width: 724px) {
  .nav-header h1 {
    font-size: 2rem;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-around;
  }
  .nav-mobile {
    display: none;
  }

  .adventage {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    text-align: start;
  }

  .adventage:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .examinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  .examinations-scroll {
    grid-column: 1/2;
    justify-self: end;
    margin: 0;
  }

  .examinations-view {
    display: block;
    grid-column: 2/3;
    justify-self: start;
    width: 20rem;
    padding: 2rem 1rem;
    background-color: var(--light-grey);
    border-radius: 15px;
  }

  .references {
    width: 40rem;
  }
  .slider-el {
    width: 30rem;
  }

  .faq-col {
    width: 30rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .contact-card {
    height: auto;
    border-radius: 15px 0 0 15px;
  }
  .map-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

@media (min-width: 1000px) {
  .nav-desktop {
    gap: 1rem;
    justify-content: flex-start;
  }
  .nav-header h1 {
    margin-right: 2rem;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .typing-wrapper,
  .main .bgc {
    position: static;
  }
  .typing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .typing-wrapper {
    align-items: start;
    margin: 0 2rem;
  }

  .typing-wrapper h2 {
    position: static;
    transform: none;
    text-align: start;
  }

  .about-us {
    display: block;
  }
  .main .bgc {
    margin: 3rem;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 52px -13px rgba(4, 4, 4, 1);
    -moz-box-shadow: 0px 0px 52px -13px rgba(4, 4, 4, 1);
    box-shadow: 0px 0px 52px -13px rgba(4, 4, 4, 1);
  }
  .examinations {
    gap: 4rem;
  }

  .references {
    width: 45rem;
  }
  .faq-col {
    width: 40rem;
  }
}

@media (min-width: 1320px) {
  .contact-card {
    width: 75%;
    justify-self: end;
  }
}

@media (min-width: 1500px) {
  .examinations-scroll,
  .examinations-view {
    width: 30rem;
  }
}

/* Transitions */
.side.active {
  left: 50%;
}

.bgc.mobile.active {
  display: block;
  opacity: 1;
  z-index: 11;
}

.nav-item.active::after {
  width: 100%;
}

.adventage.hidden {
  transform: translateY(3rem);
  opacity: 0;
}

.section.hidden {
  transform: translateY(3rem);
  opacity: 0;
}
